body{
	background: rgba(0,0,0,0.8);
	margin: 0;
	color: #fff;
	font-family: tahoma,verdana,geneva;
}
.showcase::after{
	content: '';
	height: 60vh;
	width: 100%;
	background-image: url(images/workshop.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(6px);
	-webkit-filter:blur(8px);
	transition: all 1000ms;
}
.showcase:hover::after{
	filter: blur(0px);
	-webkit-filter:blur(0px);
}
/*.showcase:hover .content{
	filter: blur(2px);
	-webkit-filter:blur(2px);
}*/
.content{
	position: absolute;
	z-index: 1;
	top: 5%;
	left: 50%;
	/*margin-top: 105px;*/
	margin-left: -50%;
	height: 350px;
	text-align: center;
	transition: all 1000ms
}
.content .logo{
	height: 200px;
	width: 180px;
	margin-top: -5%;
}
.content .title{
	font-size: 2.2rem;
	margin-top: -3rem;
}
.content .text{
	line-height: 1.7;
	margin-top: 3%;
}
.btn{
	background: #eed2;
	color: #fff;
	width: 70px;
	border: none;
	font-weight: bold;
	font-family:verdana;
}
.btn:hover{
	width:75px;
	
}
.container{
	max-width: 960px;
	margin-top: 1%;
	overflow: hidden;
	padding: 4rem 1rem;
}
.grid-3{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap: 20px;
}
.grid-2{
	display: grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap: 20px;
}
.center{
	text-align: center;
	margin: auto;
}
.bg-light{
	background: #f4f4f4;
	color: #333;
}
.bg-dark{
	background: #333;
	color: #f4f4f4;
}
.services{
	margin-top: 10%;
}
footer{
	padding: 2rem;
}
footer p{
	margin: 0;
}
/*screens*/
@media(max-width: 500px){
	.showcase{
		background-attachment: fixed;
	}
}
@media(max-width:1200px){
.showcase::after{
	height: 40vh;
  }
  .content{
  	top: 5%;
  	margin-top: 5px;
  }
  .content .logo{
  	height: 140px;
  	width: 140px;
  }
  .container{
  	grid-template-columns: 1fr;
  }
  .content .text{
  	display: grid;
  }
  .grid-3{
  	display:grid;
  	grid-template-columns: repeat(1,1fr);
  }
  .grid-2{
  	display:grid;
  	grid-template-columns:repeat(1,1fr);
  }
  .services{
  	border-bottom:#333 dashed 1px;
  	padding: 1rem 1rem;
  }
}
/*Landscape screen*/
@media(max-height: 280px){
	.content .title, .content .text{
		display:all;
	}
	.content .btn{
		/*top: -8%;*/
	}

	.content{
		top: -10%;
	}
	 .grid-3{
  	display:grid;
  	grid-template-columns: repeat(1,1fr);
  }
  .grid-2{
  	display:grid;
  	grid-template-columns:repeat(1,1fr);
  }
}